.search {
   margin: 4.8rem 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.search__input {
   width: 480px;
   background-color: var(--white-bg-color);
   border-radius: 5px;
   padding: 1.8rem 1rem 1.8rem 7.4rem;
   background-image: url("../images/svg/search-icon.svg");
   background-repeat: no-repeat;
   background-size: 18px 18px;
   background-position: top 19px left 32px;
   box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
   outline: none;
   font-weight: 400;
   color: var(--blue-text-color);
   transition: all 0.3s ease;
   position: relative;
   z-index: 1;
}

.search__input:focus {
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.0532439);
}

.search__input::placeholder {
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 1.42;
   color: var(--plasecholor-color);
}

.search__select {
   width: 200px;
   background-color: var(--white-bg-color);
   box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
   padding: 1.8rem 2.4rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 5px;
   cursor: pointer;
   line-height: 1.4;
   font-weight: 400;
   position: relative;
   transition: all 0.3s ease;
   position: relative;
   z-index: 1;
}

.search__select-list {
   width: 200px;
   padding: 1.2rem 0;
   background-color: var(--white-bg-color);
   box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
   border-radius: 5px;
   line-height: 1.4;
   font-weight: 400;
   transform: translateY(100%);
   position: absolute;
   bottom: -4px;
   left: 0;
   visibility: hidden;
   transition: visibility 0.5s linear;
}

.search__select svg path {
   fill: var(--blue-text-color);
}

.search__select:hover .search__select-list {
   visibility: visible;
}


.search__select-list li {
   padding: 0.4rem 2.4rem;
}

.search__select-list li:hover {
   background-color: var(--gray-bg-color);
}


/* SITE RESPONSIVe */
@media only screen and (max-width: 1200px) {
   .country-info {
      flex-direction: column;
   }

   .country-info__img {
      margin-right: 0;
      margin-bottom: 5rem;
   }

   .country-info__content {
      margin-bottom: 5rem;
   }
}

/* DESKTOP */
@media only screen and (max-width: 992px) {}

/* TABLE */
@media only screen and (max-width: 768px) {
   .search {
      flex-direction: column;
      align-items: flex-start;
   }

   .search__input {
      margin-bottom: 4rem;
   }
}

/* PHONE */
@media only screen and (max-width: 576px) {
   .container {
      padding: 0 1rem;
   }

   .header {
      padding: 3rem 0;
   }

   .header__logo {
      font-size: 1.5rem;
   }

   .search__input {
      width: 100%;
   }

   .cards {
      padding-bottom: 6.5rem;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 4rem;
      padding-left: 8%;
      padding-right: 8%;
   }

   .back-button-wrapper {
      margin: 4rem 0 6rem;
   }

   .country-info__img {
      width: 100%;
      height: auto;
   }
}

@media only screen and (max-width: 450px) {
   .country-info__img {
      margin-bottom: 4rem;
   }

   .country-info h2 {
      margin-bottom: 1.6rem;
   }

   .country-info__list {
      flex-direction: column;
      margin-bottom: 3rem;
   }

   .country-info__list li:not(:last-child) {
      margin-bottom: 3rem;
   }
}

/* LITTLE PHONE */
@media only screen and (max-width: 375px) {}